.input {
  margin: 24px 0;
}

.input label {
  display: block;
  padding-bottom: 8px;
  font-size: 24px;
}

.input input {
  background: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
}
